body {
  margin: 0;
  background-image: url("https://wallpapercave.com/wp/wp5203256.png");
  font-family: cursive;
  background-repeat: none;
  background-attachment: fixed;
}

#boxForms{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  /* background-color: transparent;
  border: 2px solid rgba(178, 177, 177, 0.792); */
  /* backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2); */
  color: rgb(0, 0, 0);
  border-radius: 10px;
  padding: 30px 40px;
}

#pendentes{
  padding: 4px;
  margin-top: 10px;
  border-radius: 8px;
  list-style: none;
  font-size: 20px;
}

.imgAdicionar{
  cursor: pointer;
  display: flex;
}

#adicionarTarefa{
  display: flex;
  align-items: center;
  justify-content: center;
}

#adicionarTarefa input{
  font-size: 17px;
  border: none;
  font-family: cursive;
  border-radius: 5px;
  margin-right: 10px;
}

#excluidas{
  padding: 4px;
  margin-top: 10px;
  border-radius: 8px;
  list-style: none;
  font-size: 20px;
}

#pendentes li{
  list-style-type: none;
}

#excluidas li{
  list-style-type: none
}


.btnEditar{
  border: none;
  background-color: rgb(255, 255, 255);
  font-size: 17px;
  font-family: cursive;
  border: 1px #000 solid ;
  cursor: pointer;
  border-radius: 7px;
  margin-right: 5px;
}

.btnEditar:hover{
  background-color: #000000;
  color: #fff;
}

.btnExcluir{
  width: 20px;
  height: 20px;
  cursor: pointer;
  align-items: center;
}

#align{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffffdc;
  margin-bottom: 10px;
  padding: 3px;
  border-radius: 10px;
}

